<div class="faqs-page">
  <div class="">
    {% render 'breadcrumb' %}
    <header class="page-header">
    <h2>CUSTOMER SERVICE</h2> 
    </header>
    <div class="halo-product-content">
      <div class="row pro-page">
        {% section 'faq-page' %}
      </div>
    </div> 
  </div>
</div>
