<a class="top-prod-bar__icon quick-view-btn" data-handle="{{product.handle}}" href="javascript:void(0);">
  <img src="{{ section.settings.icon | img_url: '50x50'}}" alt="{{ product.title }}">
</a>
